body {
  margin: 0;
  background-color: blanchedalmond; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}

button {
  color: rgb(33, 229, 33);
  background-color: rgb(200, 168, 118);
}

ul {
  list-style: none; /* Get rid of bullet points */
  text-align: left;
  position: relative; 
  left: 30%;
  font-size: large;
}

li {
  padding: 0.2%;
}

h1, h2 {
  color: green;
}

.balance {
  font-weight: 900;
}

.profile {
  font-weight: 500;
  padding: 0.2%;
  font-size: large;
}

label {
  font-style: italic;
}

a:link, a:visited {
  color:rgb(6, 20, 146);
  padding: .5%;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  background-color:rgb(8, 30, 128);
  color: rgb(33, 229, 33);
}